<div class="lang-all">
    <!-- title row-->    
    <div class="translation-values">
        <div class="first-col">Translation Key</div>
        <ng-container *ngFor="let lang of languages">
            <div class="translation-item" title="you cannot edit an existing key here">{{lang}}</div>
        </ng-container>
    </div>

    <!-- content rows: translations -->
    <div *ngFor="let key of translationKeys | filterTranslationKeys:filter|filterMissingTranslations:filterMissingTranslations: translations" class="translation-values">
        <div class="first-col">{{key}}</div>

        <ng-container *ngFor="let lang of languages">
            <div class="translation-item">
                <app-editor-element [element]="getTranslationValue(lang, key)">
                </app-editor-element>
            </div>
        </ng-container>
    </div>
</div>
