.lang-all {
    display: flex;
    flex-direction: column;
}

.lang-col {
    width: 50%;
}

.translation-values {
    display: flex;
    flex-direction: row;
}

.first-col {
    font-weight: bold;
    width: 30%;
}

.translation-item {
    width: 30%;
    color: blue;
}

.error {
    background-color: red;
    color: white;
    font-weight: bold;
}

.filter_translations {
    background-color: rgb(214, 214, 102);
}

.clear_search {
    text-decoration: underline;
     color: blue;
     cursor: pointer;
}

