<p style="color: red; font-weight: bold;">Translation manager</p>
Filter translation keys:<br />
<input [(ngModel)]="filter" placeholder="type here to start searching" class="filter_translations">
<a (click)="filter='';filterMissingTranslations=false" class="clear_search">clear search</a>
<br />
check this box to filter missing translations:<br />
<input [(ngModel)]="filterMissingTranslations" type="checkbox" id="missingTr" name="missingTr" unchecked>
<br />
<!-- 

    check this box to filter new/modified translations:<br />
    <input [(ngModel)]="filterMissingTranslations" type="checkbox" id="missingTr" name="missingTr" unchecked>
    <br />
-->
<ng-container *ngIf="!isVisibleAddTranslation">
    <button (click)="saveTranslations()">Save translations</button>
</ng-container>
<button (click)="addTranslation()">Add new translation</button>
<app-add-translations  *ngIf="isVisibleAddTranslation"
    [translations]="translations" 
    [languages]="languages"
    (filter)="filtering($event)"
    [translationKeys]="translationKeys"
    (close)="manageNewTranslation($event)">
</app-add-translations>
<hr />
<app-display-translations 
    [languages]="languages"
    [filter]="filter"
    [filterMissingTranslations]="filterMissingTranslations"
    [translations]="translations"
    [translationKeys]="translationKeys">
</app-display-translations>
