<button (click)="saveNewTranslation()">Valider</button>
<button (click)="cancelNewTranslation()">Annuler</button>
<div class="error" *ngIf="entryAlreadyExists">The key <em style="text-decoration: double;">{{existingEntry}}</em> already exists use search filter to find it</div>
<div class="lang-all">
    <!-- title row-->    
    <div class="translation-values">
        <div class="first-col">Translation Key</div>
        <ng-container *ngFor="let lang of languages">
            <div class="translation-item">{{lang}}</div>
        </ng-container>
    </div>

    <!-- content rows: translations -->
    <div *ngFor="let entry of newEntries" class="translation-values">
        <div class="first-col">
            <input [(ngModel)]="entry.key" placeholder="Type new translation key" (keyup)="resetKeyEntry()" />
        </div>

        <ng-container *ngFor="let lang of languages">
            <div class="translation-item">
                <app-editor-element [element]="getTranslationValue(lang, entry.key)">
                </app-editor-element>
            </div>
        </ng-container>
    </div>
</div>
